/*
 * CSS for generic/utility stuff, by Stozu
 * (static mouseover tooltips, table row/column highlighter etc)
 */

/* table with borders */

table.border {
	border-collapse: collapse;
}

table.border th,
table.border td {
	border: 1px solid #aaa;
	padding: 5px;
}

/* table with striped rows */
table.zebra {
	border-collapse: collapse;
}

table.zebra tr:nth-child(odd) {
	background-color: #f0f0f0;
}

/* table with row highlight on mouseover */

table.hover tr:hover {
	background-color: #e0e0e0;
}

/* table with column highlight on mouseover */

table.columns {
	border-spacing: 0;
	border-collapse: collapse;
	overflow: hidden;
	z-index: 1;
}

table.columns td, 
th {
	cursor: pointer;
	position: relative;
}

table.columns td:hover::after {
	background-color: #e0e0e0;
	content: '\00a0';
	height: 10000px;
	left: 0;
	position: absolute;
	top: -5000px;
	width: 100%;
	z-index: -1;
}

/* tooltip popups */

.tooltip {
	position: relative;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	border: 1px solid #aaa;
	border-spacing: 3px;
	background-color: #f9f9f9;
	color: black;
	text-align: center;
	border-radius: 3px;
	padding: 0.2em;
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 25px;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
}